* {margin: 0;padding: 0;}
html {height:100%;}
body {max-width:1900px;margin:0 auto;letter-spacing: 0.05em;background:rgb(245, 245, 245);font-size: 16px;overflow-x: hidden;min-height: 100%;color: rgb(70, 70, 70);position: relative;overflow-y: scroll;}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
}


/* TEXT */
article p {font-size: 1.4em;margin: 0 0 1em;font-family: "Open Sans", sans-serif;}
#main_content h1 {font-size: 2.9em;font-family: 'Roboto', sans-serif;}
h2,h3 {font-size: 1.9em;font-family: 'Roboto', sans-serif;}
a:link {text-decoration: none;color: rgb(100, 100, 245);}
a:visited {color: rgb(100, 100, 245);}
a:hover {color: rgb(245, 100, 100);}
#projects {text-align:center;position:relative;bottom:-2em;}

/* General->Layout */
.intro_text {text-align:center;}
.width_control {max-width:1400px;position:relative;margin:0 auto;width:50%;min-width:400px;}
section section {padding:1em;}
#main_content .radial_stripes {position:absolute;top:-22vw;left:10%;width:40vw;height:40vw;animation:rotate 30s infinite linear;}
.content_wrap {padding:1em;margin:0 auto;}
.content_wrap + .content_wrap {text-align:left;}
#main_content {text-align:left;position:relative;margin:0 auto;padding:2.5em 0 4em;background: rgb(155, 100, 255);background:rgb(245, 245, 245);}
.article_img {float:right;width:35%;min-width:200px;margin:0 1em 1em;border-top-left-radius:20%;}
#main_content header {padding:1em 0;position:relative;top:0;width:100%;overflow:hidden;text-align:center;padding:0.5em;
height:5em;}
#profile_img_box {border:1px solid rgb(200, 200, 200);border-radius:50%;width:300px;height:300px;padding:0.5em;margin:0 auto 0;}
#profile_img {
border:0.5em solid rgb(225, 225, 225);border-radius:50%;
width:300px;height:300px;overflow:hidden;background:url("/i/profile1.jpg") no-repeat top left;
position:relative;top:-0.5em;left:-0.5em;
}

/* Intro Links */
.il {font-size:2em;list-style-type:none;width:100%;border-bottom:3em solid rgb(225, 225, 225);border-top:3em solid rgb(225, 225, 225);border-radius:50%;overflow:hidden;}
.il a {display:block;line-height:2em;font-weight:bold;letter-spacing:0.1em;transition: color 0.5s, text-shadow 0.5s ease-in-out;}
.il a:hover {background:rgba(225, 225, 225, 0.5);text-shadow:0px 0px 1px #000;}
.il img {max-width: 5vw;filter:grayscale(100%);}
.il img:hover {filter:grayscale(0);}
.il .even {text-align:right;padding-right:50%;animation:right_slide_in 1s linear;}
.il .odd {text-align:left;padding-left:50%;animation:left_slide_in 1s linear;}

/* Consent to use of Personal data and Cookies */
#data_consent {
  padding:1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size:1em;
  z-index:2;
  background: rgba(255,255,255,0.8);
  display:none;
}

/* Buttons */
#data_consent ol {list-style-type:none;}
#data_consent ol::after {content:"";display:table;clear:both;} /* Modern Clear-fix */
button {box-shadow:none;font-size:inherit;}
.button {width:7em;border:none;background:rgba(13, 82, 255, 0.5);color:#fff;display:block;text-decoration:none;padding:0.5em;text-align:center;margin:0 0.5em 0.5em;float:left;}
.button:link {color:#fff;}
.button:visited {color:#fff;}
.button:hover {border-color: #fff;background: rgba(0, 53, 181, 0.5);color:#e4e4e4;cursor:pointer;}
.button:active {color:#fff;}
.button:focus {outline:1px solid rgb(60, 60, 210);}

#site_header {position:fixed;top:0;left:0;right:0;height:2.5em;width:100%;z-index:2;}
nav {height:2.5em;background: rgba(155,155,255, 0.7);text-transform:uppercase;font-weight:bold;color:#fff;}
nav ol {list-style-type:none;}
nav li {float:left;width:fit-content;font-size:1.2em;padding:0.5em 0.5em 0;}

#site_footer {min-height:200px;}

/* Ads and Widgets */
#twitter_feed {margin:0 auto;}










/* Animations */
.fade_in_delayed {opacity:0;animation:fade_in_delayed 2s forwards;animation-delay:2s;
  -webkit-animation-delay:2s;}
@keyframes left_slide_in {
  from {padding-left:80%;opacity:0;}
  to {padding-left:50%;opacity:1;}
}
@keyframes right_slide_in {
  from {padding-right:80%;opacity:0;}
  to {padding-right:50%;opacity:1;}
}
@keyframes slide_up {
  from {margin-top:100vw;opacity:0;}
  to {margin-top:0vw;opacity:1;}
}
@keyframes fade_in_delayed {
  0% {opacity: 0;}
  100% {opacity:1;}
}
@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform: rotate(360deg);}
}
/* For devices with tiny screen sizes */
@media screen and (max-width: 600px) {
  #stripes {display:none;}
  .il .even,
  .il .odd {text-align:center;padding:0;animation:none;}
  h1 {font-size:9vw;}
}
@media screen and (max-width: 550px) {
  .article_img {float:none;width:100%;}
  .il {position:initial;}
}




/* Images for reuse */
.radial_stripes {background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1003.97 1009.5"><defs><style>.cls-1{fill-rule:evenodd;fill:url(%23radial-gradient);}</style><radialGradient id="radial-gradient" cx="615.23" cy="557.75" r="503.37" gradientUnits="userSpaceOnUse"><stop offset="0" stop-opacity="0.5"/><stop offset="1" stop-color="%23333" stop-opacity="0"/></radialGradient></defs><title>radial-stripes</title><path class="cls-1" d="M615.23,53V557.75L510.29,64ZM318.54,149.4,615.23,557.75,409.93,96.64Zm-140.44,156L615.23,557.75,240.13,220ZM113.24,505l502,52.76-480-156Zm21.94,208.74,480.05-156-502,52.76Zm105,181.76,375.1-337.74L178.1,810.13Zm169.8,123.37,205.3-461.11L318.54,966.1Zm205.3,43.64V557.75L510.29,1051.47Zm205.3-43.64L615.23,557.75l104.94,493.72Zm169.8-123.37L615.23,557.75,911.91,966.1Zm104.94-181.76-480-156,437.13,252.38ZM1117.21,505l-502,52.76,502,52.76Zm-64.85-199.62L615.23,557.75l480-156Zm-140.45-156L615.23,557.75,990.33,220ZM720.17,64,615.23,557.75,820.53,96.64Z" transform="translate(-113.24 -53)"/></svg>');}


