#main_content header {padding:5em 0;}
#main_content section {clear:both;}

.case_logo {min-width:220px;max-width:50%;padding:1em;float:right;}

.case_topics {color:#fff;}
.case_topics li {border-radius:1em;padding:0.5em;float:left;list-style:none;font-size:1.2em;background:rgb(162, 190, 0);margin:0.5em 0.2em;}
.case_topics:after {
    display:table;
    clear:both;
    content:" ";
}