/* SASS Variables for Repetitive Project Page colors */
$projects_gray:rgba(225, 225, 225, 0.5);

#main_content {overflow-x:hidden;}
#personal_projects {text-align: center;width:110%;transform:rotate(-3deg);
border-top:4em solid $projects_gray;
border-bottom:4em solid $projects_gray;
position:relative;left:-5%;
z-index:1;
}
#personal_projects h2 {margin:-1.4em 0 0 0;}

/* Content */
.top_content_wrap, .projects_content_wrap {
  padding:6em 560px 1em 1em;position:relative;z-index:2;text-align:justify;
}

.projects_content_inner_wrap h2 {text-align:right;background:$projects_gray;padding:0.5em;width:140%;position:relative;left:-40%;box-sizing: border-box;}

/* "Highlighted Projects" */
header h1 {z-index:2;background:none;width:400px;position:absolute;right:50px;top:2.2em;color:rgb(15,10,10);}
header h1 span {display:block;background:rgba(255,255,0,0.9);margin:0 0 0.5em;padding:0.2em;transform:rotate(2deg);}
header h1 span + span {position:relative;left:-2em;transform:rotate(2deg);}

/* Links */
#personal_projects a:link {text-decoration:none;color:rgb(217, 255, 0);text-shadow:1px 1px 2px #000;}
#personal_projects a:visited {color:rgb(217, 255, 0);}
#personal_projects a:hover {color:#fff;}

/* Intro Links */
.il {font-size:2em;list-style-type:none;width:fit-content;z-index:1;position:relative;
overflow:hidden;margin:0 auto;
}
.il a {white-space:nowrap;text-align:center;margin:0;padding:0;display:block;line-height:2em;font-weight:bold;
  letter-spacing:0.1em;transition: color 0.5s,transform 0.5s, text-shadow 0.5s ease-in-out;transform-style:preserve-3d;-webkit-transform: translate3d(0, 0, 0);}

.il a:hover {text-shadow:0px 0px 1px #000;border-radius: 10vw;transform:rotate(2deg);}
.il img {max-width: 5vw;filter:grayscale(100%);}
.il img:hover {filter:grayscale(0);}
.il .even {animation:right_slide_in 1s linear;}
.il .odd {animation:left_slide_in 1s linear;}

.right_slide_in {animation:right_slide_in 1s linear;} /* May or may not be used by scripts */
.left_slide_in {animation:left_slide_in 1s linear;} /* May or may not be used by scripts */

/* Decoration */
#crane {background: url("/i/crane-m.jpg") no-repeat bottom;width:400px;height:1252px;
  background-size:cover;position:absolute;top:0;right:50px;z-index:0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 10vw;
  }
/* Animations */
@keyframes left_slide_in {
  from {padding-left:80%;opacity:0;}
  to {padding-left:0%;opacity:1;}
}
@keyframes right_slide_in {
  from {padding-right:100%;opacity:0;}
  to {padding-right:0%;opacity:1;}
}

/* For devices with tiny screen sizes */
@media screen and (max-width: 1224px) {
  article header h1 {margin:0 auto;}
  #crane {right:-10%;width:120%;}
  il {margin:0 auto;}
  .top_content_wrap p {padding:0.5em;text-shadow: 1px 1px 2px #000;color:#fff;
    border-radius:1em;}
  .projects_content_wrap { /* This needs to be activated earlier than .projects_content_wrap */
    padding:6em 0 1em 0;
  }
  .projects_content_wrap p {
    padding:0 1em;
  }
  #personal_projects + .projects_content_wrap {
    margin:500px 0 0 0;
  }
  .projects_content_wrap .projects_content_inner_wrap {
    background:rgb(245, 245, 245);
  }
}
@media screen and (max-width: 900px) {
  header h1 {position:relative;left:12%;}
  .top_content_wrap {padding:6em 1em 1em 1em;}
}
@media screen and (max-width: 600px) {
  il {margin:0 auto;}
  .il .even,
  .il .odd {text-align:center;padding:0;animation:none;}
}
@media screen and (max-width: 550px) {
  .il {width:100%;}
  header h1 {left:0;font-size:1em;}
  #main_content h1 {font-size: 2em;}
  header h1 span + span {left:0;}
  #personal_projects h2 {font-size:1.6em;}
  .il {width:100%;font-size:1.6em;}
}